* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url('1668485176_3-27.jpg');
    font-family: 'Protest Revolution', sans-serif;
}
form{
    background-color: white;
width: 375px;
height: 1061px;
margin: 20px auto;

}
img{
    width: 50%;
    /* margin-right: 15px; */
    box-sizing: border-box;
    display: inline-block;
    border-radius: 20px;
    vertical-align: middle;
    
    
    
    
    
    
}
button{
    width: 345px;
    background-color: rgba(77, 69, 69, 0.527);
    padding: 0 15px;
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
    border-color: brown;
    transition: 0.3s;
    
}
button:hover{
    background-color: rgba(77, 69, 69, 0.199);
}
#pointer{
    width: 30px;
    margin-right: 250px;
   transform: rotate(180deg);
   float:left;
}
#m{
    width: 28px;
    float: right;
}
h2{
    /* display: inline-block; */
    
}
h4{
    /* display: inline-block; */
    
}
div{
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    font-size: 16px;
    
}
.h4{
    margin-top: 30px;
}
.sneaker{
    height: 200px;
    object-fit: cover;
}


